<%= form_for(@edition, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @edition.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@edition.errors.count, "error") %> prohibited this edition from being saved:</h4>

      <ul>
      <% @edition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-primary">
    <div class="panel-body">
      <h3>Edition title:</h3> <%= f.text_field :title, class: "form-control", placeholder: "Edition title" %>
    </div>

    <div class="panel-body">
      <h3>Registration starts at:</h3> <%= f.datetime_select :registration_start_date, class: "form-control", placeholder: "Edition title" %>
    </div>

    <div class="panel-body">
      <h3>Edition starts at:</h3> <%= f.datetime_select :start_date, class: "form-control", placeholder: "Edition title" %>
    </div>


    <div class="panel-body">
      <h3>Edition ends at:</h3> <%= f.datetime_select :end_date, class: "form-control", placeholder: "Edition title" %>
    </div>


    <div class="panel-body">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
