<div class="page-header">
  <% if @notifications.count > 0 %>
    <%= link_to destroy_all_notifications_path, method: :delete, data: { confirm: 'Are you sure to clear the notifications ?' }, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-trash"></span>
      Clear notifications
    <% end %>
  <% end %>
  <h1>Notifications <span class="label label-default"><%= @notifications.count %></span></h1>
</div>

<div class="list-group notifications">
<% @notifications.each do |notification| %>
  <% if notification.link.present? %>
    <a href="<%= notification.link %>" class="list-group-item">
  <% else %>
    <div class="list-group-item">
  <% end %>
        <h4 class="text-primary">
          <% unless notification.visualized %>
            <span class="label label-danger">New</span>
          <% end %>
          <%= notification.title %>

          <small><%= human_readable_date(notification.created_at) %></small>
        </h4>
        <p>
          <%= notification.text.html_safe %>
        </p>
  <% if notification.link.present? %>
    </a>
  <% else %>
    </div>
  <% end %>
<% end %>
</div>
