<div class="page-header">
  <h1>Notifications</h1>
</div>

<ul class="list-group notifications">
<% @notifications.each do |notification| %>
    <% unless notification.link.blank? %>
      <li class="list-group-item link" data-on-click="<%= notification.link %>">
    <% else %>
      <li class="list-group-item">
    <% end %>

      <h4><% unless notification.visualized %>
            <span class="glyphicon glyphicon-star"></span>
          <% end %>
          <%= notification.title %>
          <small><%= human_readable_date(notification.created_at) %><% unless notification.link.blank? %> - <a href="<%= notification.link %>">(Click to see more)</a><% end %></small></h4>
          <%= notification.text.html_safe %>
    </li>
<% end %>
</ul>
