<div class="page-header">
  <h1>Users <span class="label label-default"><%= @users.count %></span></h1>
</div>

<div class="row users">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Labels</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><img class="img-square" width="45px" src="<%= user_profile_image(user) %>" alt="<%= user.name %>" title="<%= user.name %>"></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <div>
              <span class="label label-default"><%= user.projects.count %> Projects</span>
              <span class="label label-default"><%= user.comments.count %> Comments</span>
              <span class="label label-default"><%= user.thumbs_up.count %> Thumbs up</span>
            </br>
              <span class="label label-default"><%= user.subscriptions.count %> Subscriptions</span>
              <span class="label label-default"><%= user.notifications.count %> Notifications</span>
            </div>
          </td>
          <td>
            <% if user.is_superuser %>
            <% elsif user.is_admin %>
              <%= link_to revoke_user_admin_user_url(user), method: :delete, data: { confirm: 'Are you sure to revoke admin of this user?' }, class: 'btn btn-danger' do %>
                <span class="glyphicon glyphicon-remove"></span>
                Revoke Admin
              <% end %>
            <% else %>
              <%= link_to give_user_admin_user_url(user), class: 'btn btn-primary' do %>
                <span class="glyphicon glyphicon glyphicon-flash"></span>
                Give Admin
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
