<div class="page-header">
  <%= link_to new_project_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Project
  <% end %>
  <h1>Projects / Ideas (<%= @projects.count %><% if params["filter"] %> of <%= @total_count %><% end %>)</h1>
</div>

<div>
  <div class="pull-left">
    <b>Filter: </b>
    <div class="btn-group">
      <a href="<%= projects_url(projects_filters_params.merge(filter: nil)) %>"><button type="button" class="btn <%= project_list_filter_class %>">Default filter</button></a>
      <a href="<%= projects_url(projects_filters_params.merge(filter: "created_by_me")) %>"><button type="button" class="btn <%= project_list_filter_class("created_by_me") %>">Created by me</button></a>
      <a href="<%= projects_url(projects_filters_params.merge(filter: "subscribed")) %>"><button type="button" class="btn <%= project_list_filter_class("subscribed") %>">I am subscribed</button></a>
    </div>
  </div>

  <div class="pull-right">
    <b>Order: </b>
    <div class="btn-group">
      <a href="<%= projects_url(projects_filters_params.merge(order: nil)) %>"><button type="button" class="btn <%= project_list_order_class %>">Default order</button></a>
      <a href="<%= projects_url(projects_filters_params.merge(order: "top_comments")) %>"><button type="button" class="btn <%= project_list_order_class("top_comments") %>">Top Comments</button></a>
      <a href="<%= projects_url(projects_filters_params.merge(order: "top_likes")) %>"><button type="button" class="btn <%= project_list_order_class("top_likes") %>">Top Likes</button></a>
      <a href="<%= projects_url(projects_filters_params.merge(order: "top_subscribers")) %>"><button type="button" class="btn <%= project_list_order_class("top_subscribers") %>">Top Subscribers</button></a>
    </div>
  </div>
</div>

<br /><br />
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover projects-list">
    <thead>
      <tr>
        <th class="col-md-3">Project name</th>
        <th class="col-md-8">Project description</th>
        <th class="col-md-1">How many subscribers</th>
        <th class="col-md-1">Social Stats</th>
        <th class="col-md-1">Created by</th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <%
          subscribers_count = project.subscribers.count
          projectLineColor = ""
          projectLineColor = "success" if subscribers_count >= 1
        %>
        <%= content_tag :tr, class: projectLineColor, data: { on_click: project_url(project) } do %>
          <td><a href="<%= project_url(project) %>"><%= truncate(project.title, length: 70) %></a></td>
          <td><%= truncate(project.description, length: 200) %></td>
          <td>
            <% if subscribers_count == 0 %>
              <span class="label label-warning">Nobody yet</span>
            <% end %>

            <% project.subscribers.each do |subscribe| %>
              <a href="<%= project_url(project, anchor: "subscribers-list") %>" title="Subscribers List" alt="Subscribers List"><img src="<%= subscribe.profile_image_url %>" class="img-thumbnail" width="30px" alt="<%= subscribe.name %>" title="<%= subscribe.name %>"></a>
            <% end %>
          </td>
          <td>
            <a href="<%= project_url(project) %>" title="Likes" alt="Likes"><span class="label label-primary"><span class="glyphicon glyphicon-thumbs-up"></span> <%= project.thumbs_up.count %> likes</span></a>
            <a href="<%= project_url(project, anchor: "comments") %>" title="Comments" alt="Comments"><span class="label label-default"><%= project.comments.count %> comments</span></a><br/>
          </br/>
          </td>
          <td><img src="<%= project.owner.profile_image_url %>" class="img-thumbnail" width="30px" alt="<%= project.owner.name %>" title="<%= project.owner.name %>"> </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
