<div class="project-show">
  <% if loaded_edition_finished? %>
    <div class="alert alert-danger">
      <strong>This project is read-only</strong> because its edition has already finished on <%= human_readable_datetime(@edition.end_date) %>!
    </div>
  <% end %>
  <div>
    <%= link_to edition_projects_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Back to <strong><%= @project.edition.title %></strong> list
    <% end %>

    <% if any_edition_active_now %>
      <%= link_to new_edition_project_path(any_edition_active_now, related_project_id: @project.id), class: 'btn btn-primary pull-right' do %>
        <span class="glyphicon glyphicon-plus"></span>
        <span class="glyphicon glyphicon-retweet"></span>
        Create a new project related to this on <strong><%= any_edition_active_now.title %></strong>
      <% end %>
    <% end %>

    <%= render partial: "project_actions" if loaded_edition_active? %>
  </div>

  <br />

  <% thumbs_up_people = @project.thumbs_up.collect(&:creator) %>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @project.title %></h3>
    </div>
    <div class="panel-body">
      <%= render partial: "project_related_to_disclaimer" if @project.related_project %>
      <p><%= markdown(@project.description) %></p>
      <hr />
      <p>
        <div class="pull-left">
          <%= render partial: "social_actions", locals: { thumbs_up_people: thumbs_up_people } if loaded_edition_active? %>
        </div>
        <div class="pull-right">
          <img src="<%= user_profile_image(@project.owner) %>" class="img-circle" width="30px">
          Created by <%= @project.owner.name %> at <%= human_readable_date(@project.created_at) %> for <a href="<%= edition_projects_path %>" class="label label-default"><%= @project.edition.title %></a> edition
        </div>
      </p>
    </div>
    <ul class="list-group">
     <li class="list-group-item">
       <dl class="dl-horizontal">
         <dt>
           <h4 class="text-primary"><a href="#thumbs-up" id="thumbs-up"><i class="glyphicon glyphicon-thumbs-up"></i> <%= thumbs_up_people.count %> Likes</a></h4>
         </dt>
         <dd>
           <h4>
             <% thumbs_up_people.each do |user| %>
               <img src="<%= user_profile_image(user) %>" class="img-circle" width="30px" alt="<%= user.name %>" title="<%= user.name %>">
             <% end %>
           </h4>
         </dd>
       </dl>
     </li>
     <li class="list-group-item">
       <dl class="dl-horizontal">
         <dt>
           <h4 class="text-primary"><a href="#subscribers-list" id="subscribers-list"><i class="glyphicon glyphicon-heart"></i> <%= @project.subscribers.count %> Subscribers</a></h4>
         </dt>

         <% if @project.subscribers.empty? %>
           <dd></br><span class="label label-warning">Nobody</span> &#128546; Why you don't invite someone to join?</dd>
         <% end %>
        </dl>

         <% @project.subscribers.each do |user| %>
         <dl class="dl-horizontal">
            <dd>
              <img class="img-circle" width="30px" src="<%= user_profile_image(user) %>" alt="<%= user.name %>" title="<%= user.name %>">
              <span>
                <%= user.name %> (<%= user.email %>)
                <% if current_user_admin_power %>
                  <%= link_to admin_force_remove_subscriber_project_url(@project, {user_id: user.id}), method: :delete, data: { confirm: "Are you sure to remove #{user.name} from this project?" }, class: 'btn btn-danger btn-sm' do %>
                    <span class="glyphicon glyphicon-ban-circle"></span>
                    Remove <%= truncate(user.name, length: 10) %> from this project
                  <% end %>
                <% end %>
              </span>
            </dd>
          </dl>
         <% end %>
     </li>

     <li class="list-group-item">
       <dl class="dl-horizontal">
         <dt>
           <h4 class="text-primary"><a href="#comments" id="comments"><i class="glyphicon glyphicon-comment"></i> <%= @project.comments.count %> Comments:</a></h4>
         </dt>
         <dd>
         </dd>
       </dl>
       <%= form_for(@comment, url: edition_project_comments_path(@edition, @project)) do |f| %>
         <% if @comment.errors.any? %>
           <div class="alert alert-danger alert-dismissable" role="alert">
             <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
             <h4><%= pluralize(@comment.errors.count, "error") %> prohibited this project from being saved:</h4>

             <ul>
             <% @comment.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
             <% end %>
             </ul>
           </div>
         <% end %>

         <% @project.comments.each_with_index do |comment, index| %>
           <dl class="dl-horizontal">
             <dt id="comment-<%= comment.id %>"><img src="<%= user_profile_image(comment.owner) %>" class="img-thumbnail" width="60px" alt="<%= comment.owner.name %>" title="<%= comment.owner.name %>"></dt>
             <dd><strong><a href="#comment-<%= comment.id %>">[#<%= index+1 %>]</a> <%= comment.owner.name %></strong> (<%= human_readable_datetime(comment.updated_at) %>)<br /><%= comment.body %></dd>
           </dl>
         <% end %>

         <% if loaded_edition_active? %>
           <dl class="dl-horizontal">
             <dt><img src="<%= user_profile_image(current_user) %>" class="img-thumbnail" width="60px" alt="<%= current_user.name %>" title="<%= current_user.name %>"></dt>
             <dd>Do you want to say something? <br /><%= f.text_area :body, rows: 3, class: "form-control" %><br /><%= f.submit class: "btn btn-primary" %></dd>
           </dl>
          <% end %>
       <% end %>
     </li>
   </ul>
  </div>
</div>
