<br/>
<div>
  <%= link_to projects_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back to list
  <% end %>
  <%= link_to edit_project_path(@project), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit this project
  <% end %>
  <%= link_to project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-remove"></span>
    Delete this project
  <% end %>
</div>
<h1><%= @project.title %></h1>
<hr>

<dl class="dl-horizontal">
  <dt>Description:</dt>
  <dd><%= @project.description %></dd>
  <br/><br/>
  <dt>Created by:</dt>
  <dd><img src="<%= current_user.profile_image_url %>" class="img-thumbnail" width="60px"> <%= @project.owner.name %> (<%= @project.owner.email %>)</dd>
</dl>
<br/>

<h3>Subscribed to work on this project:</h3>
<% if @project.subscribers.include?(current_user) %>
  <%= link_to remove_subscriber_project_url(@project), method: :delete, data: { confirm: 'Are you sure to remove yourself from this project?' }, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-ban-circle"></span>
    Remove myself from this project
  <% end %>
<% else %>
  <%= link_to add_subscriber_project_url(@project), class: 'btn btn-success' do %>
    <span class="glyphicon glyphicon-heart"></span>
    Subscribe to work on this project
  <% end %>
<% end %>

<br/><br/>
<% if @project.subscribers.empty? %>
  <br/>
  <h5>Nobody yet :( Why you don't invite someone to join?</h5>
<% end %>

<div class="row">
  <% @project.subscribers.each do |user| %>
    <div class="col-sm-3 col-md-2">
      <div class="thumbnail">
        <img src="<%= current_user.profile_image_url %>">
        <div class="caption">
          <h3><%= current_user.name %></h3>
          <p><%= current_user.email %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
